MIT
BSD License
BSD-2-Clause
BSD-3-Clause
Apache-2.0
Apache Software License
Apache Software License; BSD License
MPL-2.0
Mozilla Public License 2.0 (MPL 2.0)
ISC
Python Software Foundation License
Python-2.0
PSF
Public Domain
Unlicense
CC0-1.0
CC-BY-4.0
CC-BY-SA-4.0
LGPL-2.1
LGPL-3.0
EPL-1.0
EPL-2.0