repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.5.0
      hooks:
          - id: check-case-conflict
          - id: check-merge-conflict
          - id: trailing-whitespace
            exclude: .bumpversion.cfg|notebooks/.*\.py
          - id: check-ast
          - id: check-added-large-files
          - id: check-toml
          - id: check-json
          - id: check-yaml

    {%- if cookiecutter.linting_base == "ruff" %}

    # Checks Python source files for errors, sorts imports alphabetically and cleans unused imports.
    - repo: https://github.com/charliermarsh/ruff-pre-commit
      rev: v0.1.5
      hooks:
          - id: ruff
            types_or: [ python, pyi, {%- if cookiecutter.jupytext == "No" %}jupyter{%- endif -%} ]
            exclude: (/test_|tests/|docs/|notebooks/)
          - id: ruff-format
            types_or: [ python, pyi, {%- if cookiecutter.jupytext == "No" %}jupyter{%- endif -%} ]
            exclude: (docs/)
    {%- endif -%}

    {%- if cookiecutter.linting_base == "stable" %}
      # PEP 8 compliant opinionated formatter.
    - repo: https://github.com/psf/black
      rev: 23.10.1
      hooks:
          - id: black
            exclude: (docs/|notebooks/){% endif %}{% if cookiecutter.jupytext == "No" and cookiecutter.linting_base == "stable" %}
          - id: black-jupyter
            files: \.ipynb$
    {%- endif -%}

    {%- if cookiecutter.jupytext == "Yes" %}

      # Save .ipynb to .py:percent format
    - repo: https://github.com/mwouts/jupytext
      rev: v1.15.2
      hooks:
        - id: jupytext
          args: ["--from", ".ipynb", "--to", "py:percent", "--pipe-fmt", "black"]
          files: "\\.ipynb$"
          additional_dependencies:
            - black==23.10.1
    {%- endif %}

    # Modernizes python code and upgrade syntax for newer versions of the language
    - repo: https://github.com/asottile/pyupgrade
      rev: v3.15.0
      hooks:
          - id: pyupgrade
            args: [--py39-plus]

    {%- if cookiecutter.linting_base == "stable" %}
      # Cleaning unused imports.
    - repo: https://github.com/hadialqattan/pycln
      rev: v2.3.0
      hooks:
          - id: pycln
            args: ["-a"]
            exclude: (docs/|notebooks/)
      # Sort imports alphabetically, and automatically separated into sections and by type.
    - repo: https://github.com/timothycrosley/isort
      rev: 5.12.0
      hooks:
          - id: isort
            args: ["--profile", "black"]
            exclude: (docs/|notebooks/)

      # Checks Python source files for errors.
    - repo: https://github.com/PyCQA/flake8
      rev: 6.1.0
      hooks:
          - id: flake8
            name: flake8
            entry: flake8
            language: python
            types: [python]
            args: [--config, .flake8]
            exclude: (docs/|notebooks/)

      # Enforces a coding standard, looks for code smells, and can make suggestions about how the code could be refactored.
    - repo: https://github.com/pycqa/pylint
      rev: v3.0.1
      hooks:
          - id: pylint
            exclude: (/test_|tests/|docs/|notebooks/)
            additional_dependencies:
              - 'pylint_pydantic'
            args:
              # pylint can have issue with python libraries based on C
              # if it fails to find some objects likely you need to add them
              # here:
              ["--extension-pkg-whitelist=pydantic"]
    {%- endif -%}

      # Used to have proper type annotations for library code.
    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v1.6.1
      hooks:
          - id: mypy
            args: []
            additional_dependencies: []
            exclude: (/test_|setup.py|/tests/|docs/|notebooks/)

      # Finds common security issues in Python code.
    - repo: https://github.com/PyCQA/bandit
      rev: 1.7.5
      hooks:
          - id: bandit
            args: [-c, pyproject.toml, --recursive, src]
            additional_dependencies: [".[toml]"] # required for pyproject.toml support
            exclude:  (notebooks/)
